<mat-toolbar color="primary">
    <a mat-button routerLink="/ciudad"><span class="fa fa-list fa-lg"></span>Ciudades</a>
    <a mat-button routerLink="/pais"><span class="fa fa-list fa-lg"></span> Paises</a>
    <a mat-button routerLink="/partidos"><span class="fa fa-list fa-lg"></span> Partidos</a>
    <a mat-button routerLink="/equipos"><span class="fa fa-list fa-lg"></span> Equipos</a>
    <a mat-button routerLink="/posicion"><span class="fa fa-list fa-lg"></span> Tabla de posiciones</a>
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Liga sudamericana</h1>
      <p>oficina asesora de sistemas ud</p>
    </div>
    <div fxFlex></div>
  </div>