<div>
  <table class="form-size">
    <tr><th>ID</th><th>Fecha</th><th>Equipo Local Id</th><th>Equipo Visitante Id</th>
    <th>Goles local </th> <th>Goles Visitante</th>

    </tr>
    <tr *ngFor="let fpartido of partidos">
      <td>{{fpartido.Id}}</td>
      <td>{{fpartido.Fecha}}</td>
      <td>{{fpartido.EquipoLocalId}}</td>
      <td>{{fpartido.EquipoVisitanteId}}</td>
      <td>{{fpartido.GolesLocal}}</td>
      <td>{{fpartido.GolesVisitante}}</td>
      <td><button mat-button class="background-primary text-floral-white"
        (click)='onDelete(fpartido)'>Borrar</button></td>
      <td><button mat-button class="background-primary text-floral-white"
          (click)='onSelect(fpartido)'>Seleccionar</button></td>
      
        
    </tr>
  </table>
</div>
<p>
 partido  {{partido | json}}
</p>
<div>
  <form novalidate [formGroup]="partidoForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="half-width">
            <input matInput formControlName="Fecha" placeholder="Fecha" type="datetime" required>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="EquipoLocalId" placeholder="Equipo local id" type="number" required>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="EquipoVisitanteId" placeholder="Equipo Visitante id" type="number" required>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="GolesLocal" placeholder="Goles local" type="number" required>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="GolesVisitante" placeholder="Goles visitante" type="number" required>
          </mat-form-field>
              <button   type="submit" mat-button [disabled]="actualizando" [hidden]="actualizando" 
              class="background-primary text-floral-white">Submit</button>       
  </form>
  <button (click)="onUpdate()" [hidden]="!actualizando" 
        [disabled]="!actualizando" mat-button 
        class="background-primary text-floral-white">Update</button>
</div>