<div>
  <table class="form-size">
    <tr><th>Puntaje</th><th>Equipo Id</th><th>Partidos Jugados</th>
    <th>Partidos Ganados </th> <th>Partidos Empatados</th>
    <th>Partidos Perdidos</th><th>Goles A Favor</th><th>Goles En Contra</th>
    <th>Diferencia Goles </th>

    </tr>
    <tr *ngFor="let fposicion of posiciones">
      
      <td>{{fposicion.Puntaje}}</td>
      <td>{{fposicion.EquipoId}}</td>
      <td>{{fposicion.PartidosJugados}}</td>
      <td>{{fposicion.PartidosGanados}}</td>
      <td>{{fposicion.PartidosEmpatados}}</td>
      <td>{{fposicion.PartidosPerdidos}}</td>
      <td>{{fposicion.GolesFavor}}</td>
      <td>{{fposicion.GolesContra}}</td>
      <td>{{fposicion.DiferenciaGoles}}</td>
      
        
    </tr>
  </table>
</div>
