<!-- <p>
  {{ciudades | json}}
</p> -->
<div>
    <table class="form-size">
      <tr><th>ID</th><th>Nombre</th><th>Pais</th></tr>
      <tr *ngFor="let fciudad of ciudades">
        <td>{{fciudad.Id}}</td>
        <td>{{fciudad.Nombre}}</td>
        <td>{{fciudad.PaisId.Nombre}}</td>
        <td><button mat-button class="background-primary text-floral-white"
          (click)='onDelete(fciudad)'>Borrar</button></td>
        <td><button mat-button class="background-primary text-floral-white"
            (click)='onSelect(fciudad)'>Seleccionar</button></td>
        
          
      </tr>
    </table>
</div>
<p>
   ciudad  {{ciudad | json}}
  </p>
<div>
    <form novalidate [formGroup]="ciudadForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="half-width">
              <input matInput formControlName="Nombre" placeholder="Nombre" type="text" required>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput formControlName="PaisId" placeholder="Pais" type="text" required>
            </mat-form-field>
            
                <button type="submit" mat-button [disabled]="actualizando" [hidden]="actualizando" 
                class="background-primary text-floral-white">Submit</button>       
    </form>
    <button (click)="onUpdate()" [hidden]="!actualizando" 
          [disabled]="!actualizando" mat-button 
          class="background-primary text-floral-white">Update</button>
</div>
